[Desktop Entry]
Name=MacWave

X-KDE-PluginInfo-Name=MacWave
X-KDE-PluginInfo-Author=unknown
X-KDE-PluginInfo-Email=unknown@gmail.com
X-KDE-PluginInfo-License=CC-BY-SA-4.0
